.maincontainer 
{   
top:0px;
padding-top:0;
margin:auto; position:relative;
min-width:2000px;
max-width:2000px;
}

#main_graph,
#sub_graphs {
    display: inline-block;
    border-width: 1px;
    position: absolute;
    top:0px;
    border-style: solid;
    height:879px;
}

#main_graph {
    min-width:1600px;
    max-width:1600px;
}

h1,h2,h3,a, text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;

}

h1{
    font-size: 45px;
}

.bar {
    fill: skyblue;
}

.dot {
    stroke: black;
    stroke-width: 1; 
    fill: red;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}

#SelectionNode{
    position: relative;
    left: 400px;
    font-size: 28px;
}

#currentSelection{
    color: blue;
}

#restore{
    position:relative;
    left:700px;
    top :760px;
    font-size:20px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-color: #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
