#big_title {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
    bottom:50px;
}

.bar {
    fill: skyblue;
}

.dot {
    stroke: black;
    stroke-width: 1;
    fill: red;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}


.legend i {
    width: 18px;
    height: 17px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#sub_graphs {
    width: 330px;
}

#sub_bar_motion {
    display: inline-block;
    z-index: 999;
    position: fixed;

    height: 850px;
    top: 150px;
    width: 350px;

    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    left: -330px;
    transition: .3s ease-out;
}

#sub_bar_motion.show {
    left: 0px;
}

#sub_bar_indicator {
    width: 20px;
    height: 35px;
    right: 0px;
    top: 360px;
    position: absolute;
    cursor: pointer;
}


#sub_bar_indicator::after {
    /* content: '>'; */
    content: "\f054";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    width: 20px;
    display: block;
    text-align: center;
}

#sub_bar_motion.show #sub_bar_indicator::after {
    content: '\f053';
    font-family: FontAwesome;
}


#statistics_graph_motion {
    z-index: 999;
    position: fixed;
    right: -520px;
    height: 850px;
    top: 150px;
    width: 540px;
    border-right: 1px solid;

    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: .3s ease-out;
}

#statistics {
    position: absolute;
    width: 520px;
    right: 0px;
}

#statistical_graph {


    position:absolute;
    top:80px;
    height: 600px;
    width: 520px;
    overflow: auto;
}

#statistics_graph_motion.show {
    right: 0px;
}

#sub_bar_indicator2 {
    width: 20px;
    height: 35px;
    left: 0px;
    top: 360px;
    position: absolute;
    cursor: pointer;
}


#sub_bar_indicator2::after {
    content: '\f053';
    font-family: FontAwesome;
    width: 20px;
    display: block;
    text-align: center;
}

#statistics_graph_motion.show #sub_bar_indicator2::after {
    content: '\f054';
    font-family: FontAwesome;
}

#selection_zone {
    top: 720px;
    left: 1350px;
}


#selection_zone::before {
    content: '\f078';
    font-family: FontAwesome;
    width: 110px;
    height: 55px;
    left: 220px;
    top: 734px;
    z-index: 1;
    position: absolute;
    cursor: pointer;

}

#selection_zone:hover {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

#select_choice {
    background-color: #007bff;
    color: white;
    padding: 12px;
    width: 250px;
    position:absolute;
    top:720px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
#restore_button{
    position: absolute;
    right:10px;
    bottom :20px;
    z-index: 999;
    width:90px;
    height:40px;
    font-size:20px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-color: #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.main_mask {
    position: fixed;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    cursor: pointer;
  }
.main_mask .dismiss {
    color: #fff;
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
  }
  
  .moving {
    animation: moving infinite 1s linear;
  }
  
  @keyframes moving {
    0% { transform: translateY(0px); }
    25% { transform: translateY(7px); }
    50% { transform: translateY(0px); }
    75% { transform: translateY(-7px); }
    100% { transform: translateY(0px); }
  }
  
  .disappear {
    animation: disapper forwards 1s linear;
  }
  
  @keyframes disapper {
    to { top: -110%; opacity: 0; }
  }
  
  .hint {
    color: #ddd;
    white-space: pre-wrap;
    font-size: 14px;
    position: absolute;
    text-align:left;
  }
  
  .arrow {
    position: absolute;
  }
  #manual_icon{
    cursor: pointer;
    width:40px;
    height: 40px;
    position: absolute;
    right:20px;
    top: 20px;
    z-index: 1999;
}
#time_selection{
  
    z-index:800;
    
    width: 150px;
    height:310px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
   
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    left:100px;
   
    
   
    
}
#month_selection{
    display:inline-block;
    width:60px;
    height:25px;
    position:relative;
    left:13px;
    top:-45px;
}
#weekday_selection{
    display:inline-block;
    position:relative;
    left:13px;
    right:5px;
    width:60px;
    height:25px;
    top:-45px;
}

#weekday{
    position:relative;
    top:-20px;
}
#month{
    position:relative;
    top:-20px;
}
.icon_layer{
    display:inline-block;
    position:relative;
    left:11px;
    top:-45px;
}
.icon_describe{
    position:relative;
    top:-24px;
}

.collapsible{
    background-color: rgba(0,0,0,0.8);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 165px;
    height:30px;
    border: none;
    text-align: center;
    z-index:800;
    font-size: 13px;
    position:relative;
    left:100px;
    border-radius: 5px;
    
  
  }
  .active, .collapsible:hover {
    background-color: rgba(0,0,0,1);
  }
  
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 300px;
    overflow: hidden;
    display:none;
    z-index:800;
    
    width: 150px;
    height:300px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
   
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    left:100px;
    
    transition: max-height 0.3s ease-out;
  }

  .layer_selection{
      /* position:absolute; */
      z-index:899;
      position:relative;
      top:-10px;
      
  }
  #layer_select{
      position:relative;
      top:-15px;
      align-items:center;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    height:56px;
    position:relative;
    left:100px;
    /* top:-150px; */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 999;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  
  }