.maincontainer 
{   
top:0px;
padding-top:0;
margin:auto; position:relative;
min-width:2100px;
max-width:2100px;
}

#main_graph,
#sub_graphs {
    display: inline-block;
    position: absolute;
    top:0px;
    height:879px;
}

#sub_graphs {
    top:3px;
}

#sub_graphs {
    border-right: 1px solid;
}

#main_graph {
    border-style: solid;
    min-width:1900px;
    max-width:1900px;
    border-radius: 20px;
}

#main_graph svg {
    position: absolute;
}

svg#legend {
    width: 600px;
    height: 70px;
    top: 800px;
    left: 390px;
}

svg#map {
    top: 4px;
    left: 1026px;
    border-radius: 20px;
    border-width: 3px;
}

h1,h2,h3,a, text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
}

h1{
    font-size: 45px;
}

.bar {
    fill: skyblue;
}

.dot {
    stroke: black;
    stroke-width: 1; 
    fill: red;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}

#SelectionNode{
    position: absolute;
    left: 450px;
    top: 60px;
    font-size: 28px;
}

#currentSelection{
    color: blue;
}

#restore{
    position: absolute;
    left:420px;
    top :0px;
    font-size:20px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-color: #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.tooltip{
    background-color:lightsteelblue;
    border-radius: 8px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 15px;
    padding-left: 20px;
    width:260px;
    text-align: left;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}

