#category_graph,
#main_graph,
#time_series_graph {
    display: inline-block;

}

#category_graph,
#time_series_graph {
    transform: translate(16%, -95px);

}

#main_graph {
    transform: translate(10%, 0);
}


div {
    border-width: 1px;
    border-style: solid;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;

}

.bar {
    fill: skyblue;
}

.dot {
    stroke: black;
    stroke-width: 1; 
    fill: red;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}
#SelectionNode{
    font-size:29px;
}
#currentSelection{
    color: blue;
}
#restore{
    position:relative;
    top:-600px;
    left:-238px;
    
}
